<!-- $Id: user_account_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheaderxingtong.htm"}
{insert_scripts files="./js/validator.js"}
<div class="main-div">
  <form action="user_account.php?act=xiugai" method="post" name="theForm" onsubmit="">
    <table width="100%">
     <!--  <tr>
        <td class="label">{$lang.user_id}：</td>
        <td>
          <input type="text" name="user_id" value="{$user_name}" size="20"
          {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"} readonly="true" {/if}/>
        </td>
      </tr> -->
    <!--   <tr>
        <td class="label">{$lang.surplus_amount}：</td>
        <td>
          <input type="text" name="amount" value="{$user_surplus.amount}" size="20"
          {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"} readonly="true" {/if}/>
        </td>
      </tr> -->



     <!--  <tr>
        <td class="label">{$lang.pay_mothed}：</td>
        <td>
          <select name="payment" {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3}disabled="true" {/if}>
          <option value="">{$lang.please_select}</option>
          {html_options options=$payment_list selected=$user_surplus.payment}
          </select>
        </td>
        </td>
      </tr>
      <tr>
        <td class="label">{$lang.process_type}：</td>
        <td>
          <input type="radio" name="process_type" value="0"
          {if $user_surplus.process_type eq 0} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 || $action eq "edit"}disabled="true" {/if} />{$lang.surplus_type_0}
          <input type="radio" name="process_type" value="1"
          {if $user_surplus.process_type eq 1} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3|| $action eq "edit"}disabled="true" {/if} />{$lang.surplus_type_1}
          {if $action eq "edit" && ($user_surplus.process_type eq 2 || $user_surplus.process_type eq 3)}
          <input type="radio" name="process_type" value="2"
          {if $user_surplus.process_type eq 2|| $action eq "edit"} checked="true"{/if}{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} disabled="true"{/if} />{$lang.surplus_type_2}
          <input type="radio" name="process_type" value="3"
          {if $user_surplus.process_type eq 3|| $action eq "edit"} checked="true"{/if}{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} disabled="true"{/if} />{$lang.surplus_type_3}
          {/if}
        </td>
      </tr>

      <tr>
        <td class="label">{$lang.surplus_notic}：</td>
        <td>
          <textarea name="admin_note" cols="55" rows="3"{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} readonly="true" {/if}>{$user_surplus.admin_note}</textarea>
        </td>
      </tr>
      <tr>
        <td class="label">{$lang.surplus_desc}：</td>
        <td>
          <textarea name="user_note" cols="55" rows="3"{if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3} readonly="true" {/if}>{$user_surplus.user_note}</textarea>
        </td>
      </tr>
      <tr>
        <td class="label">{$lang.status}：</td>
        <td>
          <input type="radio" name="is_paid" value="0"
          {if $user_surplus.is_paid eq 0} checked="true"{/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>{$lang.unconfirm}
          <input type="radio" name="is_paid" value="1"
          {if $user_surplus.is_paid eq 1} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>{$lang.confirm}
          <input type="radio" name="is_paid" value="2"
          {if $user_surplus.is_paid eq 2} checked="true" {/if} {if $user_surplus.process_type eq 2 || $user_surplus.process_type eq 3 ||$action eq "edit"} disabled="true"{/if}/>{$lang.cancel}
        </td>
      </tr> -->
      {foreach from="$txbianjixs" item=item}
            <tr>
              <td class="label">线下店名称:</td>
              <td>

                <input type="text" readOnly="true" name="amount" value="{$item.user_name}" size="20">
                <!-- 提现用户id -->
                <input type="hidden"  name="lineshopid" id="lineshopid" value="{$item.line_shopid}" size="20">
                <!-- 提现用户id -->
                <input type="hidden"  id="txid" value="{$item.id}" size="20" name="txid">
              </td>
            </tr>
            <tr>
              <td class="label">提现金额:</td>
              <td>
                <input type="text" readOnly="true" id="money" name="amount" value="{$item.money}" size="20">
              </td>
            </tr>
            <tr>
              <td class="label">提现时间:</td>
              <td>
                <input type="text" readOnly="true" name="amount" value="{$item.time}" size="20">
              </td>
            </tr>
            <tr>
              <td class="label">审核状态:</td>
              <td>
            <!--     <input type="radio" name="radioname" value="0" {if $item.status eq 0} checked{/if}>未受理 -->
                <input type="radio" name="radioname" value="0" {if $item.status eq 0} checked{/if}>未受理
                <input type="radio" name="radioname" value="1" {if $item.status eq 1} checked{/if}>已受理
                <input type="radio" name="radioname" value="2" {if $item.status eq 2} checked{/if}>拒绝
                <input type="radio" name="radioname" value="3" {if $item.status eq 3} checked{/if}>已完成
              </td>
            </tr>

                <tr>
                  <td class="label">备注:</td>
                  <td><textarea name="beizhu" id="beizhu" cols="40" rows="5">{$txlog.remark}</textarea></td>
                </tr>
                <tr>
                  <td class="label">拒绝理由:</td>
                  <td><textarea name="objection" id="objection" cols="40" rows="5">{$txlog.objection}</textarea></td>
                </tr>

      {/foreach}

    <!--   <tr>
        <td class="label">&nbsp;</td>
        <td>
          <input type="hidden" name="id" value="{$user_surplus.id}" />
          <input type="hidden" name="act" value="{$form_act}" />
          {if $user_surplus.process_type eq 0 || $user_surplus.process_type eq 1}
          <input type="submit" value="{$lang.button_submit}" class="button" />
          <input type="reset" value="{$lang.button_reset}" class="button" />
          {/if}
        </td>
      </tr> -->
      <tr>
        <td colspan="2" align="center">
             <input id="btn" type="submit" value="确定" class="button"   />
        </td>
     </tr>
    </table>
  </form>
</div>
{insert_scripts files="../js/jquery-1.9.1.min.js"}

<script language="JavaScript">
<!--
{literal}

//-->
{/literal}
</script>
{include file="pagefooter.htm"}