<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0 user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<script src="__PUBLIC__/js/jquery.js"></script>
<style>
html,body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body{
	background-image:url(__PUBLIC__/img/5.png);
	background-size:cover;
}
.top{
	height:30px;
	font-size:1.5rem;
	text-align:center;
	color:white;
}
.neirong{
	height:auto;
}
.xiangxi{
	padding:0px 15px;
}
.xiangxi p{
	color:white;
	etter-spacing:1px;
    font-size:1rem;
    line-height:35px;
	text-indent:1em;

}
.top2{
	height:15px;
	font-size:1.2rem;
	text-align:left;
	margin-left:3ren;
	margin-top:1rem;
	color:black;
}
.top3{
	height:35px;
	font-size:1.2rem;
	text-align:left;
	margin-left:3ren;
	margin-top:1rem;
	color:black;
}
.scrollItem{
	display:block;
	width:20px;
	height:20px;
	padding:15px;
	border:1px solid;
	border-radius:50px;
	text-align:center;
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	bottom:0;
	right:0;
	color:#fff;
	text-decoration:none;
}
.backItem{
	display:block;
	width:20px;
	height:40px;
	padding:5px;
	border:1px solid;
	text-align:center;
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	bottom:0;
	color:#fff;
	text-decoration:none;
}
</style>
<!--<script>
var sdelay=0;
function returnTop() {
 window.scrollBy(0,-100);
 if(document.body.scrollTop>0) { 
  sdelay= setTimeout('returnTop()',50);
 }
}
</script>-->
 <script type="text/javascript">

        $(function () {
            var speed = 800;//滚动速度
			var h=document.body.clientHeight;
            //回到顶部
            $("#toTop").click(function () {
			  	$('html,body').animate({
					scrollTop: '0px'
				},
				speed);
            });
        });
    </script>
</head>

<body>
<div class="top">&lt;隐私政策&gt;</div>
<div class="neirong">
	<div class="xiangxi">
    	<p>上海强生制药有限公司一向重视隐私问题，并希望您了解我们是如何搜集、使用和披露信息的。本《隐私政策》介绍了我们在信息方面的实际做法，这些信息是我们或服务提供商通过由我们负责运营和管理的网站或网络资产（例如移动网站或应用等，以下简称“网站”）征集的，您可以从中查阅本《隐私政策》。向我们提供个人信息或使用网站，即表示您已同意本《隐私政策》的各项条款。</p>
    </div>
    <div class="xiangxi">
    	<div class="top">&lt;信息征集&gt;</div>
        <div class="top2">&bull;您所提供的信息</div>
    	<p>网站中有某些地方可能会要求您提交个人信息，以便使用某些特定功能（如新闻资讯订阅，贴士/指针，或订单处理）或参加某项具体活动（如抽奖或其他促销）。系统会通知您需要提供哪些信息，以及哪些信息是可选填的。我们可能会将您提交的信息与我们已经从您那里搜集到的其他信息（通过在线或离线方式，比如您的采购历史）合并。我们可能还会将其与我们从其他来源（如强生旗下的其他企业和公共信息来源，包括来自您已公开的社交媒体背景资料）以及其他第三方搜集到的有关您的信息合并。</p>
		<div class="top2">&bull;被动信息征集和使用</div>
        <p>当您浏览网站时，网站可能会使用各种技术，在您未主动提供的情况下搜集某些信息。我们以及我们的第三方服务提供商会以各种方式被动搜集和使用信息，包括：
通过您的浏览器：大多数浏览器都会搜集某些信息，如您的媒体访问控制 (MAC) 地址、计算机类型（Windows 或 Macintosh）、屏幕分辨率、操作系统版本以及互联网浏览器类型和版本。我们可能会搜集类似信息，比如，如果您使用移动设备访问网站，我们会搜集您的设备类型和标识之类。
</p>
		<p>使用cookies：Cookies 是直接保存在您所使用的电脑中的信息片段。通过 Cookies，可以搜集诸如浏览器类型、浏览网站所用的时间、访问页面、语言首选项等信息。我们以及我们的服务提供商使用这些信息的原因在于出于安全目的，加快导航、更有效地显示信息，以及在使用网站的同时实现体验个性化。我们还会使用 cookies 来识别您的电脑或设备，这样能使您在网站使用时更加方便，比如记住您的购物车中已经有哪些东西。此外，我们还利用 cookies 来搜集网站使用率方面的统计信息，以便不断改进网站的设计和功能，了解各人的使用习惯，并帮助我们解决这方面的问题。Cookies 还可以让我们了解哪些广告或产品最合乎您的兴趣，并当您浏览网站时将其显示出来。我们也可能会在网站广告中使用 cookies 来跟踪消费者对我们的广告的反应。</p>
        <p>您可以按照浏览器的使用说明拒绝接收这些 cookies；不过，如果您选择不接受，在使用网站的过程中可能会有所不便。您还可能无法收到那些您所感兴趣和需要的广告或其他产品。如欲了解 cookies 方面的更多内容，请访问http://www.allaboutcookies.org。
使用 Flash cookies：使用 Adobe Flash 技术（包括 Flash 本地存储对象，简称“Flash LSOs”）让我们能够提供更符合您需求的信息，便于您进一步访问和使用网站，并搜集和保存更多您在网站使用方面的信息。如果您不希望在电脑中保存 Flash LSO，您可以调整 Flash 播放器的设置，用Website Storage Settings Panel中的工具来阻止 Flash LSO 保存。您还可以进入Global Storage Settings Panel并按照操作说明来管理 Flash LSO，其中的说明包括：如何删除现有的 Flash LSO（在 Macromedia 网站中被称为“信息”），</p>
        <p>如何防止在未询问您的情况下将 Flash LSO 存入您的电脑中，以及（对于 Flash Player 8 和更高版本）如何在您浏览网页时阻止本网页操作人员之外的人发来的 Flash LSO 等。需要注意的是，限制 Flash Player 接受 Flash LSO 可能会影响某些 Flash 应用的功能，其中可能包括网站或在线内容所使用的 Flash 应用。</p>
        <p>使用像素标签（pixel tag）、网站信标（web beacon或clear GIFs）或其他类似技术：这些技术可能用在某些网页和 HTML 格式的电子邮件信息中，用于跟踪网站用户和电子邮件收件人的行动，衡量营销活动的效果，并对网站的使用率和响应速度进行综合统计。
在线行为广告：使用 cookies、像素标签（pixel tag）、网站信标（web beacon或clear GIFs）或其他类似技术，让我们的第三方供应商在您访问本网站或其他网站或在互联网使用联网功能时，播放关于我方产品和服务的广告。这些供应商可能会将像素标签、网站信标或类似技术植入网站、其他网站或联网功能，并能在您访问本网站或其他网站或使用联网功能时，植入和识别第三方 cookies。 他们可能会根据您在访问本网站或其他网站或使用联网功能时所留下的信息，播放您可能感兴趣的产品和服务广告。
</p>
        <p>IP 地址：您所使用的电脑的 IP 地址是由互联网服务提供商（ISP）自动分配的。当用户访问本网站时，我们的服务器会自动识别 IP 地址，并将其与访问时间和访问的页数一起记录在日志文件中。搜集 IP 地址是互联网上的通行做法，很多网站都是自动进行的。我们使用 IP 地址的目的包括计算网站使用率、帮助诊断服务器问题、网站管理等。
设备信息：我们可能会搜集移动设备方面的信息，如设备的唯一标识。
</p>
		<div class="top2">&bull;我们如何使用和披露信息</div>
        <p>我们会按照信息征集点所描述的方式来使用和披露您提供给我们的信息。我们还会使用来自于您或与您有关的信息来：回答您的问询并满足您的要求，比如给您发送您索取的文件或电子邮件提醒；给您发送各种重要信息，包括双方关系和网站方面的信息，条款、条件及政策变动信息以及其他监管信息；
</p>
        <p>进行各种出于商业目的的活动，如数据分析，审计，开发新产品，改进网站，改善产品与服务，确定网站使用趋势，通过提供量身定做的产品与服务实现网站体验个性化，以及衡量促销活动的效果。</p>
        <p>通过网站搜集到的信息，我们还会向以下各方披露：</p>
        <p>根据本《隐私政策》所述目的，向我们的关联公司披露。上海强生制药有限公司是负责管理共用个人信息的责任方；</p>
        <p>与我们一起进行品牌联合或市场联合促销的第三方合作伙伴；</p>
        <p>提供网站托管和管理、移动应用托管、数据分析、支付处理、订单履行、架构提供、IT 服务、客户服务、电子邮件和直邮送达服务、信用卡处理、审计服务以及其他服务的第三方服务提供商，以便他们能够提供各种服务</p>
        <p>对企业、资产或股份（包括破产或类似司法程序相关的）全部或部分进行重组、并购、销售、合资、委托、转让或其他处置所涉及的第三方。</p>
        <p>此外，我们会以在我们看来必要或适当的方式使用和披露这些信息，包括：(a) 在适用法律允许的情况下，包括您的居住国以外国家的法律；(b) 依照法律程序的要求；(c) 回应公共部门和政府主管机构的要求，包括您的居住国以外国家的公共部门和政府主管机构；(d) 行使政策条款所规定的权利和义务；(e) 保护我们自身或关联公司的业务经营；(f) 保护您的，其他人的以及我们自身或关联公司的权利、隐私、安全或财产；(g) 使我们能够对可能遭受的损失进行补救或限制。在您同意的情况下，我们可能还会通过其他方式使用和披露通过网站搜集的信息。</p>
        <p>我们也会出于其他目的使用和披露如上文“被动信息征集和使用”项下所述的被动收集的信息，除非现行法律有其他要求（比如，在要求我们将此类信息作为个人信息对待的情况下）。此外，我们可能会出于任何目的使用和披露无个人识别标志的信息。如果我们将无个人识别标志的信息与有个人识别标志的信息合并（如将您的姓名与您的地理位置合并），我们会将合并后的信息作为个人信息对待。</p>
        <div class="top2">&bull;第三方网站与服务</div>
        <p>本《隐私政策》不针对藉以本网站获得、或本网站中包含其链接的任何第三方的私密性、信息或其他实际做法，包括任何第三方运营的网站或网络资产（包括但不限于任何应用），我们对此也概不负责。本网站中提供或包含任何此类网站或网络资产的信息并不表示我们或我们的下属公司有举荐认可之意。</p>
        <div class="top2">&bull;安全</div>
        <p>我们会采取切实可行的组织、技术和管理措施来保护属于我们控制之下的个人信息。但是，互联网或数据存储系统上的数据传递不可能 100% 安全。如果您有理由相信，您与我们之间的互动已不再安全（比如，在您发觉您在我们这里开设的账户的安全性有问题的情况下），请按照下面“联系我们”一节中的说明，立即将问题通知我们。</p>
        <div class="top2">&bull;选择与使用权</div>
        <p>您对我们使用和披露您的个人信息的选择</p>
        <p>如果出于营销目的使用和披露您的个人信息方面，我们会让您自行选择。您可以从以下位置选择退出：</p>
        <p>接收我们的营销宣传信息：如果您希望今后不再收到我们的营销宣传内容，可以通400热线与我们联系，选择不再接收。在发给我们的回复中，请提供您的姓名，指出您不再希望接收的营销宣传的形式，并附上原来的接收地址。例如，如果您不再希望收到我们发送的营销电子邮件或直邮信件，请告知我们，并提供您的姓名、电子邮件地址或邮寄地址。
接收我们的提醒信息：如果您希望今后不再收到我们的医疗提醒信息，可以通过或400热线与我们联系，选择不再接收。在发给我们的回复中，请提供您的姓名以及用于接收提醒信息的电子邮件地址或电话号码。
</p>
        <p>我们与关联公司和第三方合作伙伴对您个人信息的共享：如果您希望我们今后不再与我们的下属公司或第三方合作伙伴出于营销目的共享您的个人信息，您可以通过400热线联系我们，选择退出共享。在发给我们的回复中，请声明希望我们不要再出于营销目的，与我们的关联公司或第三方合作伙伴共享您的个人信息，并附上您的姓名和电子邮件地址。
我们将尽快按照您的要求办理。请注意，如果您按照上述方法选择退出，我们无法将您的个人信息从已经与我们共享信息的下属公司的数据库中删除（这就如同选择退出办理完毕之日的信息一样）。请注意，如果您选择不再接收我们发送的营销信息，我们仍可能会给您发送一些重要的交易和管理信息，您无法从中选择退出。
</p>	
		<div class="top3">&bull;如何访问、改动或删除您的个人信息</div>
        <p>如果您希望查看、更改、更新或删除您通过网站提供的个人信息，请通400热线联系我们。我们将尽快按照您的要求办理。</p>
        <div class="top2">&bull;保留期</div>
        <p>我们会在必要的时间内保留您的个人信息，以实现本《隐私政策》所述目的，除非法律要求或允许更长的保留期，或者为了履行某项法律义务。</p>
        <div class="top2">&bull;未成年人使用网站</div>
        <p>网站用户年龄不得低于13岁，而且我们要求这些用户不要通过网站提供个人信息。</p>
        <div class="top2">&bull;跨境传输</div>
        <p>您的个人信息可能会在我们下属机构或服务提供商所在的任何国家保存或处理，使用我们的网站或向我们提供同意信息（在法律要求的情况下），即表示您已同意将信息传输至居住国以外的国家，包括美国，这些国家的数据保护规定可能与您所在国家有所不同。</p>
        <div class="top2">&bull;敏感性信息</div>
        <p>除非我们有特别要求或邀请，否则我们会要求您不要在本网站上或通过本网站或其他方式给我们发送或披露任何敏感性个人信息（例如，有关人种和种族、政治立场、宗教或其他信仰、健康、犯罪记录或工会成员等方面的信息）。如果是我们要求或邀请您提供敏感性信息，我们需要事先得到您的明确同意。</p>
        <div class="top2">&bull;本《隐私政策》的更新</div>
        <p>我们可能会对本《隐私政策》进行改动。本隐私政策最新修订时间为：2014年10月31日。对本《隐私政策》所作的任何改动，当修订后的《隐私政策》在网站公布后即行生效。根据这些改动使用本网站即表示您已接收修订后的《隐私政策》。</p>
        <div class="top2">&bull;联系我们</div>
        <p>如果您对本《隐私政策》有任何问题，请通过400热线联系我们。</p>      
    </div>
</div>
<a id="toTop" class="scrollItem">&uarr;</a>
<a class="backItem" onClick="javascript:history.back(-1);">返回</a>
</body>
</html>
